@import url(https://db.onlinewebfonts.com/c/7980cc1889b6b0b264dc47cca659f7c2?family=Neue+Montreal+Regular);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,
body {
  font-family: "Neue Montreal Regular", sans-serif;
}





